
* { margin: 0; padding: 0; outline: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

header, footer, nav, section, article, aside, figure, details, summary { display: block; }



/* ================================================================================
    #Base
================================================================================ */

body, html { height: 100%; }

body {
    font-size: 15px;
    line-height: 1.2;
    color #333;
    font-family: 'Open Sans', sans-serif !important;
    background: url('../../images/pattern.png');
    min-width: 1000px;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a { color: #47b3ff; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }
img { height: auto; max-width: 100%; font-size: 0; vertical-align: middle; }

h1, h2, h3, h4, h5, h6 { line-height: 1.1; font-weight: normal; margin: 0 !important; }

h1 { font-size: 52px; line-height: 55px; }
h2 { font-size: 48px; line-height: 51px; }
h3 { font-size: 24px; line-height: 27px; }
h4 { font-size: 22px; line-height: 25px; }
h5 { font-size: 18px; line-height: 21px; }
h6 { font-size: 16px; line-height: 19px; }

p { }

ul { list-style: disc inside none; margin: 0 !important; }
ol { list-style: decimal inside none; margin: 0 !important; }

/* ================================================================================
    #Form Elements
================================================================================ */

input, textarea, select { font-family:'Open Sans', sans-serif !important; font-size: 12px; }
textarea { overflow: auto; resize: none; -webkit-overflow-scrolling: touch; }

input,
textarea { box-sizing: border-box; max-width: 100%; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0; box-shadow: none; }

input[type="checkbox"] { -webkit-appearance: checkbox; -moz-appearance: checkbox; appearance: checkbox; }
input[type="radio"] { -webkit-appearance: radio; -moz-appearance: radio; appearance: radio; }

input[type="radio"],
input[type="checkbox"] { width: auto; height: auto; padding: 0; border: 0; }

input[type="submit"],
input[type="button"],
input[type="reset"],
button { cursor: pointer; }

button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }

/* ================================================================================
    # Clear 
================================================================================ */

.cl { height: 0; clear: both; }

.cl,
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

.clearfix { *zoom: 1; }
.clearfix:after { content: ''; font-size: 0; line-height: 0; display: block; clear: both; }

/* ==========================================================================
    #Helpers
========================================================================== */

.left,
.alignleft { float: left; }

.right,
.alignright { float: right; }

.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.alignnone { display: block; }

/* ================================================================================
    #Containers
================================================================================ */

.shell { width: 960px; margin: 0 auto; }

.header { border-bottom: 4px solid #4e9643; background: #65c657; }
.header .logo { float: left; font-family: 'Russo One', sans-serif; color: #fff; text-decoration: none; margin-top: 7px; }
.header .logo h2 { display: inline-block; vertical-align: top; line-height: 50px; font-size: 28px; }
.header .logo img { display: inline-block; vertical-align: top; margin-right: 10px; }
.header .nav { float: right; }
.header .nav ul { list-style-type: none; }
.header .nav ul li { display: inline-block; vertical-align: top; line-height: 33px; font-size: 17px; }
.header .nav ul li + li { margin-left: 10px; }
.header .nav ul li a { color: #fff; text-decoration: none; padding: 15px 8px; display: block; position: relative; }
.header .nav ul li.current-menu-item a { background: #4e9643; }
.header .nav ul li.current-menu-item a:before { content: ''; position: absolute; left: 50%; bottom: -10px; width: 0; height: 0; border-left: 25px solid transparent; border-right: 25px solid transparent; border-top: 20px solid #4e9643; }
.header .nav ul li.current-menu-item a:before {
	-webkit-transform: translate(-50%);
	   -moz-transform: translate(-50%);
	    -ms-transform: translate(-50%);
	     -o-transform: translate(-50%);
	        transform: translate(-50%);
}
.header .nav ul li.log-in-link a img { width: 22px; margin-right: 10px; }

/* Main wrapper */
.main-wrapper { padding: 50px 0; } 

.home-top-heading {  text-align: center; padding-bottom: 80px; }
.top-heading-inner-holder { max-width: 700px; margin: 0 auto; }
.home-top-heading h2 { font-size: 30px; font-weight: 300; padding-bottom: 40px; }
.search-main-input input[type="text"]{  width: 550px; height: 50px; border: none; border-radius: 6px; background: #fff; padding: 0 20px; box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2); }

.main-map-holder { border-top: 5px solid #4e9643; }

.main-form .panel { box-shadow: none; background: none; border: none; margin-top: 50px; }
.main-form .panel-default>.panel-heading { text-align: center; background: none; box-shadow: none; border: none; font-size: 24px; padding-bottom: 40px; position: relative; }
.main-form .panel-default>.panel-heading:after { content: ''; position: absolute; left: 50%; bottom: 20px; width: 100px; height: 2px; background: #333; }
.main-form .panel-default>.panel-heading:after {
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}
.main-form .form-horizontal .control-label { display: none; }
.main-form .form-control { width: 550px; height: 40px; border: none; border-radius: 6px; background: #fff; padding: 0 20px; box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2); }
.main-form .form-group .col-md-6 { float: none; display: block; margin: 0 auto; }
.main-form .form-group .first-form-group { margin-bottom: 30px; }
.btn-submit { border: none !important; padding: 8px 30px !important; background-color: #65c657 !important; }

/*map window style*/
.gm-style-iw{
    position: relative;
    z-index: 3;
}