<div style="width: 100%; height: 1000px;">
    <ui-gmap-google-map options="vm.options" doRebuildAll="true" center='vm.map.center' zoom='vm.map.zoom'>
        <ui-gmap-layer type="TransitLayer" show="true"></ui-gmap-layer>
        <ui-gmap-marker coords="vm.marker.coords" options="vm.marker.options" events="vm.marker.events"
                        idkey="vm.marker.id">

        </ui-gmap-marker>
    </ui-gmap-google-map>

    <div>
        <ng-map center="43.210237,23.552880" zoom="3">

            <custom-marker position="{{ marker.latitude }}, {{ marker.langitude }}" ng-repeat="marker in vm.markers">
                <img ng-src="{{ vm.url + '/images/' + marker.image }}" alt="">
            </custom-marker>
        </ng-map>
    </div>
</div>