
<div class="home-top-heading">
	<div class="shell">
		<div class="top-heading-inner-holder">
			<h2>Намерете най-близките контейнери за разделно изхвърляне на отпадъци до вас.</h2>

			<form class="search-main-input">
				<input type="text" name="" placeholder="Въведете адрес...">
			</form>
		</div>
	</div>
</div>

	<form class="search-main-input">
		<input type="text" name="" placeholder="Въведете адрес...">
	</form>
	<div id="map" style="width: 100%; height: 500px;"></div>
	<button ng-click="vm.newClick()">Push new marker</button>
	<input type="text" ng-model="vm.location" ng-change="vm.eventOnChange()">
	<button id="submit-button" ng-click="vm.eventOnChange()">submit</button>
</div>